head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  title Declaire.js • TodoMVC

  link(rel="stylesheet" href="/todomvc-common/base.css")
  link(rel="stylesheet" href="/todomvc-app-css/index.css")

body

  {{view TodosView}}
    section.todoapp
      header.header
        h1 todos
        input.new-todo(placeholder="What needs to be done?" autofocus {{on enter newTodo}})
      
      {{if allTodos.length}}
        
        section.main
          input.toggle-all(type="checkbox" checked="{everythingDone}" {{on change markAllComplete}})
          label(for="toggle-all") Mark all as complete
          ul.todo-list
            {{for todos}}
              li(class="{completed: done, editing: renaming}")
                {{if renaming}}
                  input.edit(value="{:title!}" autofocus {{on change save}} {{on escape revert}})
                {{=>}}
                  .view({{on doubleClick rename}})
                    input.toggle(type="checkbox" checked="{done!!}")
                    label {title}
                    button.destroy({{on click delete}})
        
        footer.footer
          span.todo-count
            strong {activeTodos.length} 
            span {pluralize('item', activeTodos.length)} left
            //- | {pluralize('item', activeTodos.length)} left
          ul.filters
            li > a(href="/pages/all"       class="{selected: _page == '/pages/all'}"      ) All
            li > a(href="/pages/active"    class="{selected: _page == '/pages/active'}"   ) Active
            li > a(href="/pages/completed" class="{selected: _page == '/pages/completed'}") Completed
          
          {{if completedTodos.length}}
            button.clear-completed({{on click clearCompleted}}) Clear completed
    
    footer.info
      p Double-click to edit a todo
      p Written by <a href="https://github.com/syntheticore">Björn Breitgoff</a>
      p Part of <a href="http://todomvc.com">TodoMVC</a>
  

  //- script(src="/todomvc-common/base.js")
