@require 'main.styl'

.todos-view
  header
    margin-top: 2rem
    padding: 1rem 2rem
    color: $black
    h1
      font-size: 2em
    time
      margin-top: 1rem
      display: block
  main
    background: #f6f6f6
    padding: 2rem
    padding-bottom: 0
    overflow: hidden
    button
      float: right
      padding: 0.5rem
      font-size: 1rem
      width: 6rem
      &:hover
        background: whitesmoke
        cursor: pointer
  input[type="text"]
    padding: 0.5rem
    font-size: 1rem
    width: calc(100% - 7rem)
  ul
    margin: 2rem -2rem
    margin-bottom: 0
  li
    padding: 1rem 2rem
    &:nth-child(odd)
      background: white
    input[type="checkbox"]
      margin: 0
      margin-right: 1rem
    h2
      display: inline-block  
      color: $black
      font-size: 1.4rem
    button
      padding: 0.2rem 0.5rem
      font-size: 0.8rem
      width: auto
  footer
    text-align: right
    padding: 1rem 2rem
